*{
    color:white;
  }
  .texts {
   font-family:poppins;
    text-align: center;
    background-color:#27366B;
  }
  .texts article{
    padding: 14px;
  }
 
   .texts h2{
      margin-top:2px;
      color:white;
      letter-spacing: 3px;
      border-bottom: 1px solid #999;
      border-top: 1px solid #999;
    }
    .texts  p{
    font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.7px;
    }
    
 
      .image{
        width:100%;
      }
    @media(min-width: 768px){
      .logo{
        width: 40%;
        margin: -12px 21px 12px -45px;
      }
      .image{
        width:60%
       }
  
    }
      @media(min-width: 1024px){
     .image{
      width:50%
     }
     
  
      }