* {
  color: white;
  margin:0;
  padding: 0;

}

.texts {
  background-color: #27366B;

  font-family: poppins;
  font-size: 22px;
  text-align: center;
}

.texts article {
  padding: 14px;
}

.texts article h2 {
  margin-top: 2px;
  font-size: 22px;
  letter-spacing: 3px;
  border-bottom: 1px solid #fff;
}

.img {
  width: 100%;
}

@media(min-width: 768px) {
  .logo {
    width: 40%;
    margin: -12px 21px 12px -45px;
  }

  .img {
    width: 100;
    margin:auto;
  }
}

@media(min-width: 1024px) {
  .texts .article h2 {
    border: none;
    margin:1rem
  }
  .article {
    margin: 150px auto ;
    position: relative;
    overflow: hidden;
  }
  
  .image-container {
    width: 100% ;
    position: relative;
    overflow: hidden;
  }
  .img {
    width: 70%;
    margin-top: 10px;
    height: auto;
    transition: all .5s;
  }
.article:hover img{
  transform: scale(1.09);

}
.article .text-container{
  position: absolute;
  top:-1000%;
  left:0;
  text-align: justify;
  height: 100%;
  color: white;
  box-sizing: border-box;
}
.article:hover .text-container{
  background: radial-gradient(black, transparent ,transparent);
  top: 2rem;
  display: flex;
  flex-direction: column;
  left: 9px;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

}