* {
  color: white;
  margin:0;
  padding: 0;

}

.texts {
  background-color: #27366B;
  font-family: poppins;
  font-size: 22px;
  text-align: center;
}


.article h2 {
  margin-top: 2px;
  font-size: 22px;
  letter-spacing: 3px;
}


.img {
  width: 100%;
}

@media(min-width: 768px) {
 .texts .article {
  padding: 14px;
 }
  .logo {
    width: 40%;
    margin: -12px 21px 12px -45px;
  }

  .img {
    width: 100;
    margin:auto;
    border-radius: 10px;
  }
}

@media(min-width: 1024px) {
  .texts .article h2 {
    border: none;
    margin:1rem
  }
  .article {
    margin: 150px auto ;
    position: relative;
    overflow: hidden;
  }
  
  .image-container {
    width: 100% ;
    position: relative;
    overflow: hidden;
  }
  .img {
    width: 70%;
    box-shadow: 1px 1px 10px black;
    margin-top: 10px;
    height: auto;
    transition: all .5s;
    border-radius: 10px;
  }
.article:hover img{
  transform: scale(1.09);
}
.article .text-container{
  position: absolute;
  top:-1000%;
  left:0;
  text-align: justify;
  height: 100%;
  box-sizing: border-box;
}
.article:hover .text-container{
  background: radial-gradient(black, transparent ,transparent);
   /* background-color: rgb(0,0,0,0.50);  */
  top: 10.5rem;
  right: 21rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  left: 10rem;
  align-content: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}
}